
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f6e1;
}
.navBar{
    display: flex;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

img{
    height: 50px;
    width: 50px;
    margin-top: 5px;
    
}

.scrollmenu {
   
    overflow-x: auto; 
  overflow-y: hidden; 
  white-space: nowrap;
  padding: 7px;
 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

  
  }

  .scrollmenu::-webkit-scrollbar{
    width: 0;
    height: 0;
  }

  
  .scrollmenu a {
    display: inline-block;
    gap: 15px;
    margin: 5px;
    text-align: center;
    padding: 7px;
    font-size: large;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f1eeee;
}
  
  div.scrollmenu a:hover {
    background-color: #777;
  }

.toggle-btn {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: #f8f6e1;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: left 0.3s ease-in-out;
}

.toggle-btn:hover {
    background-color: #e9e4e4;
}

.sidepanel {
    background-color: #333;
    height: 80%;
    position: fixed;
    top: 62px;
    left: -100%;
    transition: left 0.3s ease-in-out;
    width: 200px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

.sidepanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidepanel li {
    padding: 10px;
}

.sidepanel li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#getInfoBtn{
    margin-right: 5px;
}
#customer_id {
    height: 28px;
    
        border: 2px solid black;
        border-radius: 5px;
    margin-right: 5px;
}
#customer-form{
    padding: 10px;
    font-size: large;
    border: 2.5px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow */
    height: 358px;
    width: 82.3%;
    border-radius: 15px ;
    margin-left: 40px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    
   
}
#customer-form label{
    margin-right: 5px;
}


.customer-info {
    flex: 2;
    margin-right: 20px;
    margin: 5px;
}

.call-box {
    border: 2.5px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow */
    border-radius: 15px;
    padding: 15px;
    height: 350px;
    margin-top: 0.3em;
    width: 700px;
    flex: 1;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
   
}




.options1, .options2, .options3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.options1 button, .options2 button, .options3 button {
    display: inline-block;
    gap: 15px;
    margin: 5px;
    text-align: center;
    padding: 7px;
    font-size: large;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f1eeee;
}
.horizontal-list button {
    background-color: #5e5858ab;
    border: none;
    color: #fff;
    font-size: larger;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}



.horizontal-list {
    /* background-color: #8BC6EC; */
    background-color: rgb(139, 198, 236);
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    margin-top: 50px;
    height: 40px;
    border-radius: 15px;
}



#designation::-ms-expand {
    display: none;
}

#designation:focus {
    border-color: #333;
    outline: none;
}

#designation, #getInfoBtn, #getProfile {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#designation, #getInfoBtn, #getProfile 
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#getInfoBtn, #getProfile {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 6px;
}

#getInfoBtn:hover, #getProfile:hover {
    background-color: #e0dddd;
}

#customer-details {
    padding: 20px;
}

#mob_no{
    border: 2px solid black;
    border-radius: 5px;
    height: 28px;
}
