
body {
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
form {
    max-width: 300px;
    margin: 90px auto;
    padding: 20px;

    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);



}

label {
    display: block;
    margin: 5px;
    font-size: larger;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

select{
    border-radius: 5px;
    font-size: 1em;
    font-family: Arial, sans-serif;
    
}


